<app-floating-configurator />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="grid grid-cols-1 lg:grid-cols-2 w-screen h-screen">
        <div class="form-login-column bg-transparent w-full h-full flex flex-col">
            <div class="form-login-container w-full flex-1 flex justify-center items-center px-8 md:px-28 xl:px-52">
                <div class="w-full card">
                    <div class="w-full mb-8 flex flex-col sm:flex-row items-center">
                        <div class="aspect-square w-24 md:w-36">
                            <img src="img/INE.png" class="mb-6 sm:mb-0 sm:me-6 aspect-square" alt="INE_Logo">
                        </div>
                        <div class="w-full text-center">
                            <div class="text-surface-900 dark:text-surface-0 text-3xl font-bold mb-4">Inicio de Sesión</div>
                            <span class="text-muted-color font-medium">Bienvenido al Sistema ERP del Instituto Nacional de Estadística</span>
                        </div>
                    </div>
                    <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                        <label 
                            for="username" 
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
                            Usuario
                        </label>
                        <input 
                            formControlName="username"
                            pInputText 
                            id="username" 
                            type="text" 
                            placeholder="Ingresa tu usuario" 
                            class="w-full mb-8" 
                        />

                        <label 
                            for="password" 
                            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
                            Password
                        </label>
                        <p-password 
                            formControlName="password"
                            id="password" 
                            placeholder="Ingresa al menos 8 caracteres" 
                            [toggleMask]="true" 
                            styleClass="mb-8" 
                            [fluid]="true" 
                            [feedback]="false"
                        />
                        <p-button label="Iniciar Sesión" styleClass="w-full mt-6" type="submit"></p-button>
                    </form>
                </div>
            </div>
            <div class="w-full text-center py-4">
                © Instituto Nacional de Estadística
                <a 
                    href="https://primeng.org" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    class="text-primary font-bold hover:underline">
                    Guatemala
                </a>
            </div>
        </div>
        <div class="landing-image-column w-full h-full p-8 hidden lg:block">
            <div class="landing-image-container w-full h-full rounded-xl overflow-hidden">
                <!-- <img src="img/unsplash1.jpg" alt=""> -->
            </div>
        </div>
    </div>
</div>
